
 <%-include('partials/header')%>
 <h1>Home</h1>
<p><%=homestart%></p>

<%first.forEach(function(letter){%>
   <h1><%=letter.title%></h1>
   <p><%=letter.content.substring(0,100)+ "..."%>
   <a href="/<%=letter.content%>">Read More</a>
</p>
<%})%>

   


<%-include('partials/footer')%>